<h2 class="align-right">
    Monthly Expenses
    <button (click)="addExpense()">Add</button>
</h2>

<form (change)="changed.emit()" (keydown.enter)="$event.preventDefault(); changed.emit()">
    <ul>
        @for (item of expenses; track $index) {
            <li>
                <input type="text"
                       [name]="'expenseName'+$index"
                       [(ngModel)]="expenses[$index].name"/>

                <app-currency-input [(ngModel)]="expenses[$index].value"
                                    [name]="'expenseValue'+$index"
                                    [isChild]="true"/>
                <button (click)="removeExpense($index)" tabindex="-1">Delete</button>
            </li>
        }
    </ul>
    <input readonly="readonly"
           [value]="calc.expenses | number:'1.0-2'"
           name="expenses"/>
</form>
