@use '../../../../styles/colors' as *;

ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

li button {
  background: $dark-accent;
  font-size: 0.8rem;
  padding: 0.35rem 0.65rem;
}

li input {
  margin-top: 0.5rem;
  width: 30%;
}

li input:first-of-type {
  margin: 0 1% 0 5%;
  width: 30%;
}

li app-currency-input {
  max-width: 70%;
  padding-right: .5em;
  width: 70%;
  margin-top: -.25rem
}