form label {
  display: block;
  margin: 0.5rem 0;
}

form input[type=checkbox] {
  width: 1rem;
  margin: 0;
}

form input {
  margin-top: 0.5rem;
  margin-left: 5%;
  width: 90%;
}

form textarea {
  margin-top: 0.5rem;
  margin-left: 5%;
  width: 90%;
}

input[readonly] {
  background-color: #45454545;
}
