form label {
  display: block;
  margin: 0.5rem 0;
}

form input[type=checkbox] {
  width: 1rem;
  margin: 0;
}

form input {
  margin-left: 5%;
  width: 90%;
}

form textarea {
  margin-left: 5%;
  width: 90%;
}