<h2>Expenses</h2>

<form (change)="changed.emit()">
    <label>
        List Price
        <input type="number" [(ngModel)]="loan.listPrice" name="listPrice"/>
    </label>

    <label>
        Offer Price
        <input type="number" [(ngModel)]="loan.offerPrice" name="offerPrice"/>
    </label>

    <label>
        Down Payment (%)
        <input type="number" [(ngModel)]="loan.downPct" name="downPct"/>
    </label>

    <label>Financing
        <input type="text"
               [value]="calc.principal"
               readonly="readonly"
        />
    </label>

    <label>
        Extra Down Payment
        <input type="number" [(ngModel)]="loan.extraDown" name="extraDown"/>
    </label>

    <label>
        Interest Rate (%)
        <input type="number" [(ngModel)]="loan.interestRate" name="interestRate"/>
    </label>

    <label>
        Months
        <input type="number" [(ngModel)]="loan.months" name="months"/>
    </label>

    <label>
        Extra Payments
        <input type="number" [(ngModel)]="loan.extraPayments" name="extraPayments"/>
    </label>

    <label>
        Yearly Taxes
        <input type="number" [(ngModel)]="loan.yearlyTaxes" name="yearlyTaxes"/>
    </label>
</form>
