<h2>Loan</h2>

<form (change)="changed.emit()">
    <label>
        List Price
        <app-currency-input [ngModel]="loan.listPrice" name="listPrice"/>
    </label>

    <label>
        Offer Price
        <app-currency-input [(ngModel)]="loan.offerPrice" name="offerPrice"/>
    </label>

    <label>
        Down Payment (%)
        <input type="number" [(ngModel)]="loan.downPct" name="downPct"/>
    </label>

    <label>Financing
        <input type="text"
               [value]="calc.principal | number:'1.0-2'"
               readonly="readonly"/>
    </label>

    <label>
        Extra Down Payment
        <app-currency-input [(ngModel)]="loan.extraDown" name="extraDown"/>
    </label>

    <label>
        Interest Rate (%)
        <input type="number" [(ngModel)]="loan.interestRate" name="interestRate"/>
    </label>

    <label>
        Years
        <input type="number" [(ngModel)]="loan.years" name="months"/>
    </label>

    <label>
        Extra Payments
        <app-currency-input [(ngModel)]="loan.extraPayments" name="extraPayments"/>
    </label>

    <label>
        Yearly Taxes
        <app-currency-input [(ngModel)]="loan.yearlyTaxes" name="yearlyTaxes"/>
    </label>
</form>
